<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.zimplyshop" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- SMS Parsing -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <permission
        android:name="com.application.zimplyshop.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.application.zimplyshop.permission.C2D_MESSAGE" />

    <application
        android:name="com.application.zimplyshop.application.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="payu_merchant_id"
            android:value="fzuAdL" />
        <meta-data
            android:name="payu_disable_back"
            android:value="false" />
        <meta-data
            android:name="payu_merchant_salt"
            android:value="vE0dpVXQ" />

        <activity
            android:name="com.application.zimplyshop.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.zimplyshop.activities.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.ExpertsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.PhotosListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.ArticleListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.ShopCategoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.ProductListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.ShopSubCategoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.FilterLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ZDialogTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.CheckPhoneVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ZDialogTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.AboutUsPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.application.zimplyshop.activities.PurchaseListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.application.zimplyshop.activities.SettingsPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.application.zimplyshop.utils.ZWebView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.application.zimplyshop.activities.PhotoDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.application.zimplyshop.activities.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProductPageTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.FilterFiltersLayout"
            android:screenOrientation="portrait"
            android:theme="@style/ZDialogTheme" />

        <activity android:name="com.application.zimplyshop.activities.ProductPhotoZoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name="com.application.zimplyshop.activities.ArticleDescriptionActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.ExpertProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />

        <activity
            android:name="com.application.zimplyshop.activities.NotificationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />

        <activity
            android:name="com.application.zimplyshop.activities.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.BaseLoginSignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.FilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.application.zimplyshop.activities.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ZimplyActionBarTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.UserFavouritesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.MyWishlist"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.BarcodeScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.application.zimplyshop.activities.BookedForReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />

        <activity
            android:name="com.application.zimplyshop.activities.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name="com.application.zimplyshop.activities.SearchProductsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.application.zimplyshop.activities.ProductCheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.application.zimplyshop.activities.SearchResultsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.application.zimplyshop.activities.AppPaymentOptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.application.zimplyshop.activities.NewSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!-- Facebook Activity -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- PayU activity -->
        <activity
            android:name="com.payu.sdk.PaymentOptionsActivity"
            android:configChanges="orientation|keyboard|screenSize" >
        </activity>
        <activity
            android:name="com.payu.sdk.ProcessPaymentActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.application.zimplyshop.activities.ProductDemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.application.zimplyshop.activities.UrlRouter"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.zimply.in"
                    android:scheme="http" />
                <data
                    android:host="www.zimply.in"
                    android:pathPrefix="/home/"
                    android:scheme="http" />
                <data
                    android:host="www.zimply.in"
                    android:pathPrefix="/e/"
                    android:scheme="http" />
                <data
                    android:host="www.zimply.in"
                    android:pathPrefix="/p/"
                    android:scheme="http" />
                <data
                    android:host="www.zimply.in"
                    android:pathPrefix="/article/"
                    android:scheme="http" />
                <data
                    android:host="www.zimply.in"
                    android:pathPrefix="/shop-product/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.zimplyshop.activities.ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.application.zimplyshop.activities.SharingOptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- Receivers -->
        <receiver
            android:name="com.application.zimplyshop.receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.application.zimplyshop" />
            </intent-filter>
        </receiver>

        <!-- Services -->


        <!-- Cache cleaner service triggered from Application object -->
        <service android:name="com.application.zimplyshop.utils.CacheCleanerService" />
        <service android:name="com.application.zimplyshop.services.GCMIntentService" />
        <service android:name="com.notikum.notifypassive.services.GCMInformService" />
        <service android:name="com.notikum.notifypassive.services.NotiphiGCMIntentService" />
        <service android:name="com.notikum.notifypassive.services.NotificationInformService" />

        <receiver
            android:name="com.notikum.notifypassive.receivers.NotiphiGCMBroadCastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.application.zimplyshop" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.notikum.notifypassive.receivers.NetworkStateChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.notikum.notifypassive.receivers.InstallReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0c1bb8ada05e9b169fe0a504e9d5d0c415b3ed7a" />

        <service
            android:name="com.application.zimplyshop.services.ZFetchAddressIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.application.zimplyshop.activities.SelectCity"
            android:label="@string/title_activity_select_city" ></activity>
        <activity
            android:name="com.application.zimplyshop.activities.PostPaymentThankYouActivity"
            android:label="@string/title_activity_post_payment_thank_you"
            android:theme="@style/AppTheme">
        </activity>

        <receiver android:name="com.application.zimplyshop.receiver.IncomingSmsReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
